.sort {
  display: flex;
  align-items: center;
  &__options {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    height: 50px;

    border-radius: 5px;
    border: 1px solid #121212;
  }

  &__dir {
    width: 50px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #121212;
    padding: 3px;

    img {
      width: 40px;
    }
  }
}
